<div id="<%= dom_id movie %>" class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= movie.title %></h5>

    <p class="card-text">
      <strong>Description:</strong>
      <%= movie.description %>
    </p>

    <p class="card-text">
      <strong>Release date:</strong>
      <%= movie.release_date %>
    </p>

  </div>
</div>
