<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to MovieLand!</h1>
    <p class="lead">This is your go-to place for all things movies.</p>
    <hr class="my-4">
    <p>Explore the latest releases, discover hidden gems, and connect with fellow movie enthusiasts.</p>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Movie of the Week</h5>
          <p class="card-text">Check out our featured movie and see why it's a must-watch this week!</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Top Rated</h5>
          <p class="card-text">Explore our top-rated movies based on user reviews and ratings.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Join the Community</h5>
          <p class="card-text">Connect with other movie lovers, share your thoughts, and be part of the conversation.</p>
        </div>
      </div>
    </div>
  </div>
</div>