.star-rating {
  display: inline-block;
}

input[type="radio"] {
  display: none;
}

label {
  cursor: pointer;
  font-size: 1.5em;
}

label:before {
  content: '\2605';
  color: #ccc;
}

input[type="radio"]:checked ~ label:before {
  color: #ffcc00;
}